footer
	.content
		.container
			.wrapper
				.info
					h4 Contato
					ul
						li
							span Endereço
							p Av. das Letras, 47, Bairro Leve
							p São Paulo, SP &bull; 32000-000
						li
							span Telefone
							p (11) 99999-9999
							p (11) 3400-0000
						li
							span E-mail
							p
								a(href="#", title="contato@tanoa.com") contato@tanoa.com
				.team
					h4 Time
					.people
						each person in team
							.person
								img.img-responsive(src="http://placehold.it/150x150", alt=person.name)
								span #{person.name}
	.lastBar
		.container
			.wrapper
				.info Copyright &copy; 2017 Tanoa. Todos os direitos reservados.	
				#madeBy
					a(href="http://silvalexandre.com", title="Alexandre Silva", target="_blank") Alexandre Silva