meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
//- title Tanoa
//- base(href=Site.uri)
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,300")
link(rel="stylesheet", href="css/app.css")
meta(name="theme-color", content="#607d8b")