nav.navbar.navbar-default
	.container
		.navbar-header
			a.navbar-brand(href="/") Tanoa
		#menu.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/sobre.html") Sobre
				li
					a(href="/portfolio.html") Portfólio
				li
					a(href="/contato.html") Contato