//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
//- script(src="js/app.js")
//- script(src="//192.168.0.100:35729/livereload.js")