#hero{
	height: 40vh;
	text-align: center;
	padding-top: 15vh;
	background-color: $primary;
	color: $textWhite;
	@include gradient-directional($primary, $primaryDark, 135deg);
	h1{
		font-size: 1.5em;
		font-weight: 300;
		letter-spacing: 1px;
		word-spacing: 5px;
		text-transform: uppercase;
	}
	p{
		color: $textWhiteHint;
	}
}