.section{
	&#recents{
		.projects{
			@include make-row(0);
			.item{
				@include make-xs-column(6, 0);
				@include make-sm-column(6, 0);
				@include make-md-column(3, 0);
				@include make-lg-column(3, 0);
				overflow: hidden;
    			position: relative;
				.image{
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					height: 220px;
				}
				.title{
					height: 100%;
					width: 100%;
					position: absolute;
					left: 0;
    				top: 0;
					color: $textWhite;
					text-transform: uppercase;
					font-weight: 300;
					display: none;
					@include gradient-vertical(transparent, rgba(#000, .3));
					p{
						position: absolute;
						bottom: 0;
						padding: 10px 20px;
					}
				}
				&:hover{
					.title{
						display: block;
					}
				}
			}
		}
		#more{
			text-transform: uppercase;
			margin: 5vh 0;
			text-align: center;
		}
	}
}