.section{
	&#services{
		background-color: #fff;
		padding: 3vh;
		margin-bottom: 8vh;
		.services{
			@include make-row(0);
			.item{
				@include make-xs-column(6, 0);
				@include make-sm-column(3, 0);
				@include make-md-column(3, 0);
				@include make-lg-column(3, 0);
				margin-bottom: 4vh;
				img{
					margin: 0 auto;
				}
				h3{
					text-align: center;
					font-size: 1.1em;
					font-weight: 300;
				}
			}
			.itemDesc{
				@include make-xs-column(12);
				@include make-sm-column(6);
				@include make-md-column(6);
				@include make-lg-column(6);
				@include make-row();
				margin-bottom: 3vh;
				.itemImg, .itemTxt{
					@include make-xs-column(6);
					@include make-sm-column(6);
					@include make-md-column(6);
					@include make-lg-column(6);
				}
				.itemTxt{
					font-size: .8em;
					h3{
						margin-top: 0;
						font-size: 1.3em;
					}
				}
			}
		}
	}
}