.section{
	&#team{
		.team{
			@include make-row();
			.person{
				@include make-xs-column(12);
				@include make-sm-column(4);
				@include make-md-column(4);
				@include make-lg-column(4);
				margin-bottom: 3vh;
				&:last-child{
					margin-bottom: 0;
				}
				.image{
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					height: 220px;
				}
				h4{
					margin-top: 2vh;
					text-transform: uppercase;
				}
				p{
					font-size: .8em;
					font-weight: 400;
					color: $textSecondary;
				}
			}
		}
		margin-bottom: 7vh;
	}
}