.section{
	&#comments{
		background-color: #fff;
		padding: 3vh 3vh 8vh;
		.testimonials{
			.item{
				padding: 2vh;
				margin-bottom: 3vh;
				text-align: center;
				background-color: $backgroundColor;
				.img{
					width: 85px;
					height: 85px;
					margin: 0 auto;
					margin-bottom: 2vh;
				}
				p{
					font-size: .8em;
					font-weight: 300;
				}
				h5{
					font-size:.7em;
				}
			}
			.owl-prev{
				position: absolute;
			}
			.owl-next{
				position: absolute;
				right: 0;
			}
		}
	}
}