.section{
	&#touch{
		margin-bottom: 7vh;
		.container{
			padding-left: 4vh;
			padding-right: 4vh;
		}
		.touch{
			background-color: #fff;
			@include make-row();
			padding: 1em;
			.content{
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(10);
				@include make-lg-column(10);
				h2{
					font-weight: 400;
					letter-spacing: 1px;
					word-spacing: 3px;
					text-transform: uppercase;
					margin-bottom: .5em;
				}
				p{
					font-size: .8em;
					color: $textSecondary;
				}
			}
			.action{
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(2);
				@include make-lg-column(2);
				text-align: center;
				a{
					margin-top: 2.5rem;
					text-transform: uppercase;
				}
			}
		}
	}
}