.section#services
	h2 Serviços
	.services
		-var n = 0;
		if show
			.container
				while n < 4
					.itemDesc
						.itemImg
							img.img-responsive(src="http://placehold.it/280x280", alt="servico")
						.itemTxt
							h3 Serviço
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					-n++
		else
			while n < 4
				.item
					img.img-responsive(src="http://placehold.it/280x280", alt="servico")
					h3 Serviço
				-n++