.section#team
	h2 Nosso time
	.container
		.team
			each person in team
				.person
					.image(style="background-image: url('http://placehold.it/391x220')")
					h4 #{person.name}&nbsp;
						small=person.job
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.