include default/init.pug
html
	head
		include default/head.pug
		title Contato - Tanoa
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400")
		link(rel="stylesheet", href="https://cdn.mapkit.io/v1/infobox.css")
		link(rel="stylesheet", href="css/contact.css")
	body
		include default/navigation.pug
		#hero
			h1 Vamos conversar
			p Adoraríamos te ouvir
		#main
			.container
				h1 Envie-nos uma mensagem
				.form
					form(action="/", method="POST", onsubmit="return false;")
						.identify
							.form-group
								label(for="name") Nome
								input(type="text", required)#name.form-control
							.form-group
								label(for="email") E-mail
								input(type="email", required)#email.form-control
						.form-group
							label(for="msg") Mensagem
							textarea(required)#msg.form-control
						.form-group
							button(type="submit").btn.btn-primary.pull-right Enviar mensagem
		#here
			h2 Nós estamos aqui
		#map
		include default/footer.pug
		include default/scripts.pug
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16P-R7STL6R9NaHVsiWNLkP3Kzx96M60&extension=.js") 
		script(src="https://cdn.mapkit.io/v1/infobox.js")
		script(src="js/map.js")