include default/init.pug
html
	head
		include default/head.pug
		title Tanoa
		link(rel="stylesheet", href="css/app.css")
		link(rel="stylesheet", href="css/owl.carousel.min.css")
	body
		include default/navigation.pug
		.firstIntro.owl-carousel.owl-theme
			-var slide = ['Arte', 'Design', 'Tendências']
			each sl in slide
				.item(style="background-image: url('http://placehold.it/1200x400')")
					p= sl
		include module/services.pug
		include module/team.pug
		.section#touch
			.container
				.touch
					.content
						h2 Criamos sua planta. Ajudamos a florescer.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
					.action
						a.btn.btn-primary.btn-lg(href="contato.html") Contate-nos
						//- button.btn.btn-primary.btn-lg Contate-nos
		.section#recents
			h2 Projetos Recentes
			.projects
				-var n = 1;
				while n <= 8
					a.item(href="#", title="Projeto" + n)
						.image(style="background-image: url('http://placehold.it/391x220')")
						.title
							p Projeto #{n}
					-n++
			#more
				a.btn.btn-primary(href="portfolio.html", title="Ver mais projetos") Ver mais
		.section#comments
			h2 Depoimentos
			.testimonials.owl-carousel.owl-theme
				-var testimonials = ['Kristina Raymore', 'Melita Dulmage', 'Mitsuko Mannebach', 'Vivian Parkos']
				each testimonial in testimonials
					.item 
						.img
							img.img-responsive(src="http://placehold.it/85x85", alt=testimonial)
						p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
						h5 - #{testimonial}
		include default/footer.pug
		include default/scripts.pug
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/slide.js")