include default/init.pug
html
	head
		include default/head.pug
		title Projeto - Tanoa
		link(rel="stylesheet", href="css/item.css")
	body
		include default/navigation.pug
		#hero
			h1 Projeto
			p 08/03/2017 &middot; Serviço &middot; Completo em 5 dias
		.section#content
			.container
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.images
					.item
						img.img-responsive(alt="imagem", src="http://lorempixel.com/600/338/nature")
					.item
						img.img-responsive(alt="imagem", src="http://lorempixel.com/600/338/nightlife")
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				img.img-responsive(alt="imagem", src="http://lorempixel.com/1280/720/abstract")
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		include default/footer.pug
		include default/scripts.pug