include default/init.pug
html
	head
		include default/head.pug
		title Portfólio - Tanoa
		link(rel="stylesheet", href="css/portfolio.css")
	body
		include default/navigation.pug
		#hero
			h1 Nossos trabalhos
			p Todos feitos com amor
		#projects
			.container
				#jobs
					- var categories = ['city', 'food', 'sports', 'nightlife', 'abstract', 'nature'];
					each cat, index in categories
						.item(style="background-image:url('http://lorempixel.com/360/270/" + cat + "/')")
							.title
								h3 Projeto #{index + 1}
									small
										| &nbsp;
										a(href="item.html") ver mais
			#more
				button#loadMore.btn.btn-primary Carregar mais
		include default/footer.pug
		include default/scripts.pug
		script(src="js/portfolio.js")