include default/init.pug
html
	head
		include default/head.pug
		title Sobre - Tanoa
		link(rel="stylesheet", href="css/about.css")
	body
		include default/navigation.pug
		#hero
			h1 Sobre nós
		.section#intro
			h2 Um time apaixonado pelo que faz
			p Quando trabalhamos com aquilo que amamos, passamos todos os dias da vida sem trabalhar.
			img.img-responsive(src="http://placehold.it/1280x720", alt="Escritório")
			.container
				.content
					p.item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					p.item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			#contact
				a.btn.btn-primary.btn-lg(href="/contato.html", title="Entre em contato") Contate-nos
		-var show = true;
		include module/services.pug
		include module/team.pug
		include default/footer.pug
		include default/scripts.pug