$font: 'Open Sans', Helvetica, Arial, sans-serif;

$text:					rgba(0, 0, 0, .87);
$textSecondary:			rgba(0, 0, 0, .54);
$textHint:				rgba(0, 0, 0, .38);
$divider:				rgba(0, 0, 0, .12);

$textWhite:				rgba(255, 255, 255, 1.0);
$textWhiteSecondary:	rgba(255, 255, 255, .70);
$textWhiteHint:			rgba(255, 255, 255, .50);
$dividerWhite:			rgba(255, 255, 255, .12);

$backgroundColor:	#FAFAFA;

$primaryLight:		#b0bec5; //200
$primary:			#607d8b; //500
$primaryDark:		#37474f; //800

$accentLight:		#a7ffeb; //A100
$accent:			#64ffda; //A200
$accentDark:		#1de9b6; //A400

@import "mixins";
@import "vendors/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import 'vendors/bootstrap/bootstrap';
@import "reset";
@import "navigation";
@import "footer";