footer{
	font-size: .8em;
	color: $textWhiteHint;
	.content, .lastBar{
		padding: 3vh;
		.container{
			.wrapper{
				@include make-row();
			}
		}
	}
	.content{
		background-color: $primaryDark;
		.info, .team{
			h4{
				color: $textWhiteSecondary;
				text-transform: uppercase;
				font-weight: 300;
				margin-bottom: 5vh;
			}
		}
		.info{
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(4);
			@include make-lg-column(4);
			ul{
				list-style: none;
				li{
					position: relative;
					margin-top: 1em;
					padding-bottom: 1em;
					border-bottom: 1px solid rgba($textWhiteHint, .2);
					&:last-child{
						border-bottom: none;
					}
					span{
						position: absolute;
						font-style: italic;
					}
					p{
						margin: 0;
						margin-left: 8em;
						color: $textWhiteSecondary;
						a{
							color: $textWhiteSecondary;
							border-bottom: 1px dotted $accentDark;
							@include transitions(all);
							&:hover{
								color: $accentDark;
								text-decoration: none;
								border-bottom-color: $primaryDark;
							}
						}
					}
				}
			}
		}
		.team{
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(7);
			@include make-md-column-offset(1);
			@include make-lg-column(7);
			@include make-lg-column-offset(1);
			background-color: darken($primaryDark, 3%);
			.people{
				@include make-row();
				.person{
					@include make-xs-column(6);
					@include make-sm-column(4);
					@include make-md-column(4);
					@include make-lg-column(4);
					text-align: center;
					margin-bottom: 2vh;
					img{
						// border-radius: 50%;
						margin-bottom: 2vh;
						margin-left: auto;
						margin-right: auto;
					}
					span{
						color: $textWhiteSecondary;
						display: block;
					}
				}
			}
		}
	}
	.lastBar{
		font-size: .8em;
		background-color: darken($primaryDark, 5%);
		.info{
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(10);
			@include make-lg-column(10);
		}
		#madeBy{
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(2);
			@include make-lg-column(2);
			a{
				color: $textWhiteSecondary;
				border-bottom: 1px dotted $accentDark;
				@include transitions(all);
				&:hover{
					color: $accentDark;
					text-decoration: none;
					border-bottom-color: darken($primaryDark, 5%);
				}
			}
		}
	}
}
@media screen and (max-width: $screen-sm-max) {
	footer{
		.lastBar{
			text-align: center;
		}
	}
}
@media screen and (max-width: $screen-sm-min) {
	footer{
		.content{
			font-size: 1.2em;
		}
		.info{
			margin-bottom: 5vh;
		}
		.lastBar{
			font-size: 1.1em;
			.info{
				margin-bottom: 2vh;
			}
		}
		.team{
			display: none;
		}
	}
}