.navbar{
	background-color: #fff;
	padding: 4vh;
	.navbar-header{
		font-size: 1.4em;
		font-weight: 300;
		.navbar-brand{
			float: left;
			color: $primary;
			@include transitions(color);
			&:visited{
				color: $primary;
			}
			&:hover, &:focus, &:active{
				color: $primaryDark;
				text-decoration: none;
			}
		}
	}
	#menu{
		float: right;
		ul{
			margin-top: .55em;
			font-size: .8em;
			list-style: none;
			li{
				display: inline-block;
				a{
					text-transform: uppercase;
					color: $textSecondary;
					@include transitions(color);
					padding: 5px 10px;
					&:visited{
						color: $textSecondary;
					}
					&:hover, &:focus, &:active{
						color: $primaryLight;
						text-decoration: none;
					}
				}
			}
		}
	}
}
@media screen and (max-width: $screen-sm-min) {
	.navbar{
		.navbar-header{
			.navbar-brand{
				width: 100%;
				text-align: center;
				font-size: 1.2em;
			}
		}
		#menu{
			text-align: center;
			margin-top: 9vh;
			float: none;
		}
	}
}