@import 'default';

@import 'module/services';
@import 'module/team';
@import 'module/hero';

.section{
	>h2{
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 8vh;
	}
	&#intro{
		padding-top: 8vh;
		padding-bottom: 8vh;
		p{
			text-align: center;
			font-size: .9em;
			margin-bottom: 4vh;
		}
		img{
			margin: 0 auto;
		}
		.content{
			@include make-row();
			margin-top: 4vh;
			.item{
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(6);
				@include make-lg-column(6);
				text-align: left;
			}
		}
		a{
			margin-top: 2vh;
		}
		#contact{
			text-align: center;
		}
	}
	&#services{
		padding-bottom: 8vh;
	}
}