@import 'default';

@import 'module/services';
@import 'module/team';
@import 'module/touch';
@import 'module/recents';
@import 'module/testimonials';

.firstIntro{
	.item{
		width: 100%;
		height: 60vh;
		background-color: #ddd;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		p{
			color: $textWhite;
			text-align: center;
			font-size: 2.3em;
			padding-top: 40vh;
		}
	}
}
.section{
	>h2{
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 8vh;
	}
}