@import 'default';
@import 'module/hero';

#main{
	padding-top: 7vh;
	padding-bottom: 7vh;
	background-color: #fff;
	.container{
		h1{
			font-weight: 400;
			font-size: 1.4em;
		}
		.form{
			margin-top: 5vh;
			label{
				font-weight: 400;
				font-size: .8em;
				color: $textSecondary;
			}
			input, textarea{
				border: 1px solid $divider;
				@include boxShadow(0);
				@include transitions(border);
				&:focus{
					border: 1px solid $primary;
				}
			}
			.identify{
				@include make-row();
				.form-group{
					@include make-xs-column(12);
					@include make-sm-column(12);
					@include make-md-column(6);
					@include make-lg-column(6);
				}
			}
		}
	}
}
#here{
	h2{
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 8vh;
		margin-top: 8vh;
	}
}
#map{
	background-color: $primary;
	color: $textWhiteSecondary;
	height: 80vh;
}
