@import 'default';

@import 'module/hero';

#hero{
	p{
		font-size: .8em;
	}
}
.section{
	>h2{
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 8vh;
	}
	&#content{
		padding-top: 4vh;
		// background-color: #fff;
		.container{
			.images{
				@include make-row();
				margin-bottom: 4vh;
				.item{
					@include make-xs-column(12);
					@include make-sm-column(12);
					@include make-md-column(6);
					@include make-lg-column(6);
				}
			}
			img{
				margin: 0 auto;
			}
			>img{
				margin-bottom: 4vh;
			}
			p{
				margin-bottom: 4vh;
			}
		}
	}
}
@media screen and (max-width: $screen-sm-max) {
	.section{
		&#content{
			.container{
				.images{
					.item{
						&:first-child{
							margin-bottom: 4vh;
						}
					}
				}
			}
		}
	}
}