@import 'default';

@import 'module/hero';

#projects{
	margin-top: 4vh;
	.container{
		margin-bottom: 4vh;
		#jobs{
			@include make-row();
			.item{
				@include make-xs-column(12,0);
				@include make-sm-column(6,0);
				@include make-md-column(4,0);
				@include make-lg-column(4,0);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				height: 40vh;
				background-color: #fff;
				&:hover{
					.title{
						display: block;
					}
				}
				.title{
					height: 100%;
					width: 100%;
					position: absolute;
					left: 0;
					top: 0;
					color: #fff;
					text-transform: uppercase;
					font-weight: 300;
					@include gradient-vertical(transparent, rgba(#000, .3));
					display: none;
					h3{
						position: absolute;
						bottom: 10px;
						left: 10px;
					}
				}
			}
		}
	}
	#more{
		text-align: center;
		margin-bottom: 3vh;
		button{
			&:focus, &:active{
				color: $textHint;
			}
		}
	}
}
@media screen and (max-width: $screen-sm-min) {

}